//**
// Tables
//**

table {
  width: 100%;

  th,
  td {
    padding: 5px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
}


table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}
th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
thead {
  line-height: 44px;
}
thead th {
  color: #FF5A5F;
  font-size: 24px;
}
tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}