+listTitle("blog")
div.section__content
  dl.links-list
    +dt("国内综合")
    +dd("http://www.w3ctech.com/", "w3ctech")
    +dd("http://www.w3cplus.com/", "w3cplus")
    +dd("http://www.w3cfuns.com/", "w3cfuns")
    +dd("http://www.html-js.com/", "前端乱炖")
    +dd("http://www.qianduan.net/", "前端观察")
    +dd("http://segmentfault.com/", "segmentfault")
    +dd("http://www.html5tricks.com/", "html5tricks")
    +dd("http://isux.tencent.com/", "腾讯ISUX")
    +dd("http://efe.baidu.com/", "百度EFE")
    +dd("http://www.75team.com/", "奇舞团")
    +dd("http://ued.taobao.org/blog/", "淘宝UED")
    +dd("http://www.yyyweb.com/", "前端里")
    +dd("http://div.io", "div.io", "高质量前端资源汇聚")
    +dd("http://www.imooc.com/", "慕课网",DD_TYPE.HOT)
    +dd("https://www.codecademy.com/zh/", "Codecademy","以交互的方式学习编程，免费的哦。")
    +dd("http://www.gbtags.com", "极客标签")
    +dd("http://www.infoq.com/cn", "InfoQ中国")
    +dd("http://www.css88.com/", "WEB前端开发")
    +dd("http://caibaojian.com/", "前端开发博客")
    +dd("http://wx.h5.vc/","爱奇舞——H5.vc")
    +dd("http://www.kancloud.cn/explore", "看云")
    +dd("http://www.hubwiz.com/", "汇智网", "用互动的方式，学习最前沿的技术。")
    +dd("http://blog.jobbole.com/", "伯乐在线", "", 'NEW20160304')
    
  dl.links-list
    +dt("国外综合")
    +dd("http://tutsplus.com/","tutsplus")
    +dd("https://cssanimation.rocks/","CSSAnimation")
    +dd("https://teamtreehouse.com","TeamTreehouse")
    +dd("http://www.smashingmagazine.com/", "SmashingMagazine")
    +dd("https://codyhouse.co", "CodyHouse")
    +dd("http://www.echojs.com/", "Echojs")
    +dd("https://www.codeschool.com/","Codeschool")
    +dd("http://www.codewars.com/", "codewars","", 'NEW20160304')
    +dd("http://www.html5rocks.com/","Html5Rocks")
    +dd("https://speakerdeck.com/", "SpeakerDeck")
    +dd("http://alistapart.com/", "Alistapart")
    +dd("http://www.lynda.com/", "Lynda", "New skills. Improved skills. Now.")
    +dd("http://www.digitaltutors.com/", "DigitalTutors")
    +dd("https://ponyfoo.com/", "Ponyfoo.com")
    +dd("http://tutorialzine.com/", "tutorialzine")
    +dd("https://laracasts.com/", "laracasts", "", 'NEW20160304')
  dl.links-list
    +dt("前端资讯")
    +dd("https://css-tricks.com/", "CSS-Tricks", DD_TYPE.HOT)
    +dd("http://www.webdesignernews.com/", "WebDesignerNews")
    +dd("http://frontendfront.com/", "FrontEndFont")
    +dd("http://sidebar.io/", "Sidebar.io")
    +dd("https://www.designernews.co/", "DesignerNews")
  dl.links-list
    +dt("问答社区")
    +dd("http://stackoverflow.com/", "StackOverflow", DD_TYPE.HOT)
    +dd("https://www.quora.com/", "Quora")
    +dd("http://www.zhihu.com/", "知乎")
  dl.links-list
    +dt("每日鲜")
    +dd("http://gold.xitu.io/", "稀土掘金")
    +dd("http://toutiao.io/", "开发者头条")
    +dd("http://geek.csdn.net/", "极客头条")
    +dd("http://www.devtoutiao.com/", "开发头条")
  dl.links-list
    +dt("前端大牛")
    +dd("http://hugogiraudel.com/", "Hugo Giraudel")
    +dd("http://philipwalton.com/", "Philip Walton")
    +dd("https://davidwalsh.name/","David Walsh")
    +dd("http://sarasoueidan.com/", "Sara Soueidan")
    +dd("http://www.paulirish.com/", "Paul Irish")
    +dd("https://github.com/lifesinger", "玉伯")
    +dd("http://www.liaoxuefeng.com/", "廖雪峰")
    +dd("http://www.ruanyifeng.com/blog/", "阮一峰")
    +dd("http://jiongks.name/", "勾三股四")
    +dd("http://www.zhangxinxu.com/wordpress/", "张鑫旭")
    +dd("http://yuguo.us/weblog/", "余果")
    +dd("http://sofi.sh/", "Sofish")
    +dd("https://github.com/aui", "糖饼")
    +dd("http://evanyou.me/", "Evan You")
    +dd("http://www.cnblogs.com/Darren_code/", "Darren_聂微东")
    +dd("http://www.cnblogs.com/rubylouvre/", "司徒正美")
    +dd("https://github.com/cssmagic", "CSS魔法")
  dl.links-list
    +dt("博客")
    +dd("http://f2e.souche.com/blog/", "大搜车前端")
    +dd("http://yalishizhude.github.io", "亚里士朱德")
    +contrib()
