+listTitle("books")
div.section__content
  dl.links-list
    +dt("书籍")
    +book("https://book.douban.com/subject/10546125/", "JavaScript高级程序设计（第3版）")
    +book("http://www.amazon.cn/gp/product/B00NN8GJGA", "单页Web应用:JavaScript从前端到后端")
    +book("http://book.douban.com/subject/3590768/", "JavaScript语言精粹")
    +book("http://book.douban.com/subject/6038371/", "JavaScript DOM编程艺术 （第2版）")
    +book("http://book.douban.com/subject/21792530/", "编写可维护的JavaScript")
    +book("http://book.douban.com/subject/26598045/", "Web全栈工程师的自我修养")
    +book("http://book.douban.com/subject/25768396/", "深入浅出Node.js")
    +book("http://book.douban.com/subject/20390374/", "响应式Web设计")
    +book("http://book.douban.com/subject/4736167/", "精通CSS")
    +book("http://book.douban.com/subject/5362856/", "高性能JavaScript")
    +book("https://github.com/getify/You-Dont-Know-JS", "You-Dont-Know-JS")
  dl.links-list
    +dt("快速入门")
    +dd("http://zh.learnlayout.com/index.html", "学习CSS布局")
    +dd("http://learn.shayhowe.com/html-css/", "Learn to Code HTML & CSS")
    +dd("http://learn.shayhowe.com/advanced-html-css/", "Learn to Code Advanced"
      + "HTML & CSS")
    +dd("http://skill.phodal.com/", "前端技能树")
  dl.links-list
    +dt("精选文章")
    +dd("https://uptodate.frontendrescue.org/zh/", "如何跟上前端开发的最新前沿")
    +dd("http://isux.tencent.com/h5-performance.html/","移动H5前端性能优化指南", "来自腾讯ISUX")
    +dd("http://isux.tencent.com/great-mobile-h5-pages.html", "那些过目不忘的H5页面", "来自腾讯ISUX")
    +dd("http://www.tqtan.com/2015/01/31/play-with-h5/", "玩转HTML5移动页面", "来自TQ的独立博客")
    +dd("http://www.w3ctech.com/topic/979", "MobileWeb 适配总结", "来自艾佢K")
    +dd("http://imweb.io/topic/5643850eed18cc424277050e", "搞定这些疑难杂症，向css3动画说yes", "来自结一")
  dl.links-list
    +dt("手册/规范")
    +dd("https://dwqs.gitbooks.io/frontenddevhandbook/content/index.html", "前端开发者手册")
    +dd("https://li-xinyang.gitbooks.io/frontend-notebook/content/index.html", "前端开发笔记本")
    +dd("http://wiki.jikexueyuan.com/project/material-design/", " Material Design 中文版")

    +dd("http://cssguidelin.es/", "CSS规范")
    +dd("https://github.com/airbnb/javascript", "JavaScript Style Guide")
    +dd("http://sass-guidelin.es/", "Sass规范")
    +dd("http://www.ecma-international.org/publications/standards/Ecma-262.htm", "ECMAScript3/5")
    +dd("http://www.ecma-international.org/ecma-262/6.0/index.html", "ECMAScript6")
    +dd("http://www.w3.org/TR/", "W3C")
    +dd("http://wiki.commonjs.org/wiki/Modules/1.0", "CommonJS Modules")
  dl.links-list
    +dt("翻译文章")
    +dd("http://www.w3ctrain.com/2015/11/12/visual-guide-to-css3-flexbox-flexbox-playground/","学习flexbox属性")
    +dd("http://www.w3ctrain.com/2015/11/15/faster-ui-animations-with-velocity-js/", "使用Velocity.js改善用户体验")
