+listTitle("design")
div.section__content
  dl.links-list
    +dt("灵感来源")
    +dd("https://dribbble.com/", "Dribbble")
    +dd("http://www.siteinspire.com/", "SiteInspire")
    +dd("http://httpster.net/", "Httpster")
    +dd("http://www.shejidaren.com/", "设计达人")
    +dd("http://www.photoshoplady.com/", "PhotoshopLady")
    +dd("http://www.zcool.com.cn/", "站酷")
    +dd("http://www.ui.cn/", "UI中国")
    +dd("http://www.uiparade.com/", "uiparade")
    +dd("http://cn.365psd.com/", "365psd")
    +dd("https://www.behance.net/", "Behance")
    +dd("http://naldzgraphics.net/", "Naldz Graphics")
    +dd("http://www.mobile-patterns.com/", "mobile-patterns")
    +dd("http://www.huwayway.com/index.html", "wa.design")
    +dd("https://www.pinterest.com/categories/design/", "pinterest")
    +dd("http://huaban.com/cc", "花瓣")
    +dd("http://www.duitang.com/", "堆糖")
    +dd("https://www.meet-true.com", "觅处")
    +dd("http://shijue.me/home", "视觉中国")
  dl.links-list
    +dt("学点设计")
    +dd("http://design.tutsplus.com/", "TutsplusDesign")
    +dd("http://www.uisdc.com/", "优设网")
    +dd("http://psd.fanextra.com/", "PSDFAN")
    +dd("http://design.tutsplus.com/", "Envato")
    +dd("http://abduzeedo.com/", "abduzeedo")
    +dd("http://www.kaikkonendesign.fi/typography/#section/1", "Interactive Guide to Blog Typography")
    +dd("https://24ways.org/2015/", "24Ways")
  dl.links-list
    +dt("交互体验")
    +dd("http://navnav.co/", "Navnav")
    +dd("https://codyhouse.co/library", "Codyhouse")
    +dd("http://isux.tencent.com/", "腾讯ISUX")
    +dd("http://ued.taobao.com/", "淘宝UED")
    +dd("http://www.aliued.cn/", "阿里巴巴中文站")
    +dd("http://www.aliued.com/","阿里巴巴国际站")
    +dd("http://ued.alimama.com/","阿里妈妈UED")
    +dd("http://mux.baidu.com/","百度移动用户体验部")
    +dd("http://ued.baidu.com/","百度搜索用户体验中心")
    +dd("http://tgideas.qq.com/","腾讯TGideas")
    +dd("http://mxd.tencent.com/","腾讯MXD")
    +dd("http://ued.qq.com/","腾讯UED")
    +dd("http://cdc.tencent.com/","腾讯CDC")
    +dd("http://udc.weibo.com/","新浪UDC")
    +dd("http://cued.xunlei.com/","迅雷CUED")
    +dd("http://www.uxbooth.com/articles/","uxbooth")
    +dd("http://tympanus.net/codrops/","tympanus")
  dl.links-list
    +dt("配色工具")
    +dd("https://color.adobe.com/zh/create/color-wheel/", "Adobe color")
    +dd("http://flatuicolors.com/", "FLATUI")
    +dd("http://www.thedayscolor.com/", "Thedayscolor")
    +dd("http://colrd.com/", "colrd")
    +dd("http://nipponcolors.com/", "Nipponcolors")
    +dd("http://www.colourlovers.com/", "Nolourlovers")
    +dd("http://color.uisdc.com/", "中国传统色")
    +dd("http://www.birthdaycolors.jp/","日本传统色")
    +dd("http://www.fashiontrendsetter.com/","Fashiontrendsetter")
