+listTitle("frame")
div.section__content
  dl.links-list
    +dt("综合")
    +dd("http://facebook.github.io/react/", "React")
    +dd("http://getbootstrap.com/", "Bootstrap")
    +dd("http://foundation.zurb.com/", "Foundation")
    +dd("http://semantic-ui.com/", "SemanticUI")
    +dd("http://purecss.io/", "Purecss")
    +dd("http://getuikit.com/", "UIKit")
    +dd("http://meizi.io/", "妹子 UI", "中国首个开源 HTML5 跨屏前端框架")
    +dd("http://aliceui.org/", "Alice")
    +dd("https://github.com/Dogfalo/materialize", "materialize")
    +dd("https://github.com/google/material-design-lite", "material-design-lite")
    +dd("https://html5boilerplate.com/", "Html5Boilerplate")
    +dd("https://www.google.com/design/spec/material-design/introduction.html#", "Material design")
    +dd("https://www.lightningdesignsystem.com/", "Lightning Design System")
    +dd("https://github.com/airyland/vux","Vux", "VUX = Vue + Weui + Components", 'NEW20160304')
  dl.links-list
    +dt("MVVM")
    +dd("https://angularjs.org/", "AngularJS")
    +dd("http://vuejs.org/guide/", "Vue.js")
    +dd("http://backbonejs.org/", "Backbone")
    +dd("https://github.com/RubyLouvre/avalon", "Avalon")
    +dd("https://github.com/knockout/knockout","knockout")
  dl.links-list
    +dt("模块化")
    +dd("https://github.com/jrburke/requirejs", "Require.js")
    +dd("http://seajs.org/", "Sea.js")
  dl.links-list
    +dt("JavaScript")
    +dd("http://jquery.com/", "JQuery")
    +dd("https://github.com/madrobby/zepto", "Zepto")
    +dd("http://prototypejs.org/", "prototypejs")
    +dd("http://emberjs.com/", "emberjs")
    +dd("http://mootools.net/", "MooTools")
    +dd("http://dojotoolkit.org/", "Dojo")
    +dd("https://www.meteor.com/", "meteor")
    +dd("https://github.com/taijiweb/domcom", "Domcom", "Domcom是一个提供DOM部件的web框架，功能与ReactJS类似，但是具有一些不同的特点。 Domcom整体特性 Domcom是DOM和Component合并后的缩写，宗旨是为开发Web应用提供DOM部件。通过Domcom，可以整体上改善数据管理，尽可能减少不必要的DOM操作，提升程序运行效率。")
  dl.links-list
    +dt("Hybrid")
    +dd("http://facebook.github.io/react-native/","React-Native")
    +dd("https://www.nativescript.org/","Nativescript")
    +dd("http://phonegap.com/","Phonegap")
    +dd("http://ionicframework.com/","Ionic")
    +dd("https://crosswalk-project.org/","Crosswalk")
    +dd("https://github.com/meteor/meteor", "Meteor")
    +dd("https://github.com/atom/electron", "Electron")
  dl.links-list
    +dt("游戏")
    +dd("https://www.scirra.com/", "Construct 2")
    +dd("http://impactjs.com/", "ImpactJS")
    +dd("http://createjs.com/", "CreateJS")
    +dd("http://threejs.org/", "Three.js")
    +dd("https://playcanvas.com/", "PlayCanvas")
    +dd("https://github.com/pixijs/pixi.js", "Pixi")
    +dd("https://github.com/hiloteam/hilo", "Hilo","阿里出的游戏互动引擎", 'NEW20160304')
