+listTitle("other")
dl.links-list
  +dt("导航/集合")
  +dd("http://www.awesomes.cn/", "Awesomes.cn", "也许是最好的开源前端库、框架和插件集合")
  +dd("https://github.com/qiu-deqing/FE-learning", "结合个人经历总结的前端入门方法")
  +dd("https://github.com/JacksonTian/fks", "前端技能汇总")
  +dd("https://github.com/dypsilon/frontend-dev-bookmarks", "frontend-dev-bookmarks")
  +dd("https://github.com/youyudehexie/node123", "node.js中文资料导航")
  +dd("https://github.com/justjavac/free-programming-books-zh_CN", " 免费的计算机编程类中文书籍")
  +dd("https://github.com/Platform-CUF/use-gulp", "使用Gulp")
  +dd("https://github.com/vndmtrx/awesome-nodejs", "Awesome Node.js")
  +dd("https://github.com/codylindley/frontend-tools", "FrontEndTools")
  +dd("https://github.com/hawx1993/github-FE-project", "github-FE-project")
  +dd("http://f2er.club/", "前端俱乐部")
  +dd("http://www.whycss.com/", "whycss")
  +dd("https://github.com/AlloyTeam/Mars", "腾讯移动Web前端知识库")
  +dd("https://github.com/lvwzhen/iconpark", "iconfonts集合")
  +dd("https://garann.github.io/template-chooser/", "Template-Engine-Chooser", "前端模板选择")
div.section__content
  dl.links-list
    +dt("趣味学习")
    +dd("http://flexboxfroggy.com/", "flexboxfroggy")
  dl.links-list
    +dt("会议/圈子")
    +dd("http://www.fequan.com/", "前端圈")
    +dd("http://www.webrebuild.org/", "WebRebuild")
    +dd("http://jsconf.com/", "JSConf")
    +dd("http://jsconf.cn/", "JSConf.cn")
    +dd()
  dl.links-list
    +dt("面试")
    +dd("https://github.com/markyun/My-blog/tree/master/Front-end-Developer-Questions/Questions-and-Answers", "前端开发面试题")
    +dd("https://github.com/h5bp/Front-end-Developer-Interview-Questions/tree/master/Translations/Chinese","前端工作面试问题")
    +dd("http://www.nowcoder.com/ta/front-end-interview", "前端面试经典题目合集")
    +dd("https://github.com/hawx1993/Front-end-Interview-questions", "史上最全 前端开发面试问题及答案整理")
  
  dl.links-list
    +dt("关于我们")
    +dd("http://www.w3ctrain.com/", "w3ctrain")
    +dd("http://www.helkyle.com/", "Helkyle")
    +dd("http://cyseria.xyz/", "Cyseria")
    +contrib()
  dl.links-list
    +dt("友情链接")
    +dd("http://aevit.xyz/","Aevit's Lab")
    +dd("http://pandara.xyz/","Pandara's Zone")
    +contrib()
