+listTitle("plugins")
div.section__content

  dl.links-list
    +dt("滑动/视差")
    
    +dd("https://github.com/alvarotrigo/fullPage.js", "fullPage", DD_TYPE.HOT)
    +dd("http://www.idangero.us/swiper/#.VjdI0a4rKRs", "swiper")
    +dd("http://kenwheeler.github.io/slick/", "Slick", "the last carousel you'll ever need")
    +dd("http://slidesjs.com/", "sliderjs")
    +dd("https://github.com/hammerjs/hammer.js", "hammer.js", "A javascript library for multi-touch gestures")
    +dd("https://github.com/idiot/unslider","unslider")
    +dd("https://github.com/johnpolacek/superscrollorama", "Superscrollorama", "很酷的动画效果")
    +dd("https://github.com/janpaepke/ScrollMagic", "ScrollMagic")
    +dd("https://github.com/matthieua/WOW", "WOW")
    +dd("http://prinzhorn.github.io/skrollr/", "skrollr")
    +dd("https://github.com/markdalgleish/stellar.js", "stellar.js")
    +dd("https://github.com/alvarotrigo/multiscroll.js", "multiscroll.js")
    +dd("https://github.com/cubiq/iscroll", "iscroll")
    +dd("https://github.com/bevacqua/dragula", "dragula","Drag and drop so simple it hurts")
    +dd("https://github.com/imakewebthings/waypoints", "waypoints", "Waypoints is a library that makes it easy to execute a function whenever you scroll to an element")
  dl.links-list
    +dt("动画/效果")
    +dd("https://github.com/Popmotion/popmotion", "popmotion")
    +dd("https://github.com/julianshapiro/velocity", "velocity")
    +dd("https://github.com/greensock/GreenSock-JS", "GreenSock-JS")
    +dd("http://snapsvg.io/", "Snapsvg")
    +dd("http://soulwire.github.io/sketch.js/","sketch.js")
    +dd("https://github.com/impress/impress.js", "impress", "各种炫的效果，用来做幻灯片不错")
    +dd("https://github.com/julianshapiro/blast","blast.js")
    +dd("https://github.com/garand/sticky", "sticky")
    +dd("http://colorify.rocks/index.html","Colorify.js",'一个从图片中获取主要颜色的插件')
    +dd("https://github.com/rstacruz/nprogress", "nprogress")
    +dd("https://github.com/legomushroom/mojs", "Mojs")
    +dd("https://github.com/Prinzhorn/skrollr", "skrollr")
    +dd("https://github.com/mattboldt/typed.js", "typed.js")
    +dd("https://github.com/h5bp/Effeckt.css", "Effeckt.css")
    +dd("http://ianlunn.github.io/Hover/", "Hover.css")
    +dd("http://leaverou.github.io/animatable/", "Animatable")
    +dd("https://daneden.github.io/animate.css/", "Animate.css", "像喝水一样使用css动画")
    +dd("http://www.justinaguilar.com/animations/index.html", "CSS3 Animation Cheat Sheet", "流畅的CSS动画")
    +dd("https://github.com/alvarotrigo/pagePiling.js", "pagePiling.js")
    +dd("https://github.com/WickyNilliams/headroom.js", "headroom.js")
    +dd("https://github.com/chinchang/hint.css", "hint.css", "A tooltip library in CSS for your lovely websites.")
    +dd("https://github.com/tobiasahlin/SpinKit", "SpinKit", "A collection of loading indicators animated with CSS")
    +dd("https://github.com/codrops/CircularProgressButton", "CircularProgressButton")
    +dd("https://github.com/lukehaas/css-loaders", "css-loaders")
    +dd("https://github.com/HubSpot/pace", "pace")
    +dd("https://github.com/jonobr1/two.js", "two.js","A renderer agnostic two-dimensional drawing api for the web.")
    +dd("https://github.com/IanLunn/Sequence", "Sequence", "The responsive CSS animation framework for creating unique sliders, presentations, banners, and other step-based applications.")
    +dd("https://github.com/codrops/ElasticProgress", "ElasticProgress")
    +dd("http://una.im/CSSgram/", "CSSgram", "A tiny (<1kb gzipped!) library for recreating Instagram filters with CSS filters and blend modes.")


  dl.links-list
    +dt("兼容")
    +dd("https://github.com/Modernizr/Modernizr","Modernizr","Modernizr is a JavaScript library that detects HTML5 and CSS3 features in the user’s browser.")
    +dd("https://github.com/ded/bowser","bowser","a browser detector")
    +dd("https://github.com/imulus/retinajs", "retinajs")
    +dd("https://github.com/scottjehl/picturefill", "picturefill")
    +dd("https://github.com/necolas/normalize.css", "Normalize.css")
    +dd("https://github.com/scottjehl/Respond", "Respond", " 让浏览器支持 CSS3： min/max-width")
    +dd("https://github.com/aFarkas/html5shiv", "html5shiv")
    +dd("https://github.com/Schepp/box-sizing-polyfill", "box-sizing-polyfill", "让ie6/7支持 CSS box-sizing: border-box")
    +dd("https://github.com/tysonmatanich/elementQuery","elementQuery", "An element query polyfill you can use today.")
    +dd("https://github.com/marcj/css-element-queries", "css-element-queries", "CSS-Element-Queries Polyfill. proof-of-concept for high-speed element dimension/media queries in valid css.")
  dl.links-list
    +dt("Chrome")
    +dd("https://chrome.google.com/webstore/detail/clear-cache/cppjkneekbjaeellbfkmgnhonkkjfpdn", "clear-cache")
    +dd("http://www.editthiscookie.com/", "EditThisCookie", "编辑cookie利器")
    +dd("https://chrome.google.com/webstore/detail/full-page-screen-capture/fdpohaocaechififmbbbbbknoalclacl", "Full Page Screen Capture")
    +dd("https://chrome.google.com/webstore/detail/html5-outliner/afoibpobokebhgfnknfndkgemglggomo" ,"HTML5 Outliner")
    +dd("https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc","JSONView")
    +dd("https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop","Postman")
    +dd("https://chrome.google.com/webstore/detail/user-agent-switcher-for-c/djflhoibgkdhkhhcedjiklpkjnoahfmg","User-Agent Switcher for Chrome")
    +dd("https://chrome.google.com/webstore/detail/window-resizer/kkelicaakdanhinjdeammmilcgefonfh","Window Resizer")
    +dd("https://chrome.google.com/webstore/detail/auto-refresh-page/edbmfligbmlgmfbbhoamolndhjffanka","页面自动刷新")
    +dd("https://chrome.google.com/webstore/detail/chrome-sniffer-plus/fhhdlnnepfjhlhilgmeepgkhjmhhhjkh?hl=zh-CN","Chrome Sniffer Plus", "探测当前网页正在使用的开源软件或者js类库")

  dl.links-list
    +dt("模板工具")
    +dd("https://github.com/wycats/handlebars.js/", "Handlebars")
    +dd("https://github.com/janl/mustache.js/", "Mustache", "JavaScript模板工具")
    +dd("https://github.com/aui/artTemplate","artTemplate")
    +dd("https://github.com/mozilla/nunjucks", "nunjucks")
    +dd("https://github.com/leonidas/transparency", "transparency")
    +dd("https://github.com/olado/doT", "doT")
  dl.links-list
    +dt("其他")
    +dd("https://github.com/dropbox/zxcvbn","zxcvbn")
    +dd("http://jqueryvalidation.org/", "Validation", "表单验证插件")
    +dd("https://github.com/moment/moment", "moment")
    +dd("https://github.com/primer/primer", "primer", "The base coat of GitHub. Our internal CSS toolkit and guidelines.")
    +dd("http://www.checkman.io/please/", "Please.js", "创建随机的颜色")
    +dd("https://github.com/davidshimjs/qrcodejs", "qrcode")
    +dd("https://github.com/michaelvillar/dynamics.js", "dynamics.js")
    +dd("https://github.com/jwagner/smartcrop.js", "smartcrop.js")
    +dd("https://github.com/tuupola/jquery_lazyload", "lazyload")
    +dd("https://github.com/desandro/imagesloaded", "imagesloaded")
    +dd("https://github.com/luis-almeida/unveil", "unveil")
    +dd("https://github.com/ftlabs/fastclick", "fastclick")
    +dd("https://github.com/malsup/form", "jQuery Form Plugin")
    +dd("https://github.com/blueimp/jQuery-File-Upload", "jQuery-File-Upload")
    +dd("https://github.com/t4t5/sweetalert", "sweetalert")
    +dd("https://github.com/paulkinzett/toolbar", "toolbar")
    +dd("https://github.com/iamceege/tooltipster", "tooltipster")
    +dd("https://github.com/videojs/video.js", "video.js")
    +dd("https://github.com/FortAwesome/Font-Awesome", "Font-Awesome")
    +dd("https://github.com/henriquea/minigrid", "minigrid")
    +dd("http://callmecavs.com/bricks.js/", "bricks.js", "", 'NEW20160304')
