+listTitle("public")
div.section__content
  dl.links-list
    +dt("前端微博")
    +dd("http://weibo.com/fouber", "前端农民工")
    +dd("http://weibo.com/cssmagic", "CSS魔法")
    +dd("weibo.com/sharpmaster", "民工精髓V")
    +dd("http://weibo.com/zhangxinxu", "张鑫旭")
    +dd("http://weibo.com/173248656", "小胡子哥")
    +dd("http://weibo.com/arttechdesign", "尤小右")
    +dd("http://weibo.com/fekb", "前端快爆")
    +dd("http://weibo.com/w3cfuns", "w3cfuns")
    +dd("http://weibo.com/htmljs", "前端乱炖")
    +dd("http://weibo.com/baidujs", "JS小组")
    +dd("http://weibo.com/p/1005051397442732", "一丝")
    +dd("http://weibo.com/p/1005051196343093", "寒冬winter")
    +dd("http://weibo.com/p/1005051712131295", "勾三股四")
    +dd("http://weibo.com/p/1006062717844351", "HTML5梦工场")
    +dd("http://weibo.com/kujian", "前端开发博客", 'NEW20160304')
    +contrib()
  dl.links-list
    +dt("日报/周刊")
    +dd("http://feweekly.com/issues", "前端周刊")
    +dd("http://weekly.manong.io/", "码农周刊")
    +dd("http://html5weekly.com/", "html5weekly")
    +dd("http://javascriptweekly.com/", "javascriptweekly")
    +dd("http://nodeweekly.com/", "nodeweekly")
    +dd("http://responsivedesignweekly.com/", "responsivedesignweekly")
    +dd("http://webtoolsweekly.com/", "webtoolsweekly")
    +dd("http://www.75team.com/weekly/", "奇舞周刊")
    +dd("http://www.kancloud.cn/jsfront/month", "JS前端开发群月报")
    +dd("http://fex.baidu.com/weekly/", "百度FEX技术周刊")
    +dd("http://www.vuedaily.com/", "Vue Daily", "", 'NEW20160304')
  dl.links-list
    +dt("公众号")
    +qrcode("w3ctech.jpg", "w3ctech")
    +qrcode("w3cplus.jpg", "w3cplus")
    +qrcode("htmljs.jpg", "前端乱炖")
    +qrcode("fezaoduke.jpg", "前端早读课")
    +qrcode("aotu.jpg", "凹凸实验室")
    +qrcode("qianduandaquan.jpg", "前端大全")
    +contrib()
    
