+listTitle("tool")
div.section__content
  dl.links-list
    +dt("自动化")
    +dd("http://gulpjs.com/", "Gulp", DD_TYPE.HOT)
    +dd("http://gruntjs.com/", "Grunt")
    +dd("http://fis.baidu.com/", "百度Fis")
    +dd("http://ant.apache.org/", "Ant")
    +dd("http://yeoman.io/", "Yeoman")
    +dd("https://incident57.com/codekit/", "Codekit")
    +dd("https://github.com/oklai/koala", "Koala")
    +dd("https://webpack.github.io/", "Webpack")
  dl.links-list
    +dt("预编译")
    +dd("https://github.com/slim-template/slim", "Slim")
    +dd("https://github.com/haml/haml","Haml")
    +dd("https://github.com/jashkenas/coffeescript","Coffeescript",DD_TYPE.HOT)
    +dd("http://sass-lang.com/","Sass", DD_TYPE.HOT)
    +dd("https://babeljs.io/", "BabelJs")
    +dd("https://github.com/jadejs/jade","Jade")
    +dd("http://lesscss.org/", "Less")
    +dd("https://github.com/stylus/stylus", "Stylus")
    +dd("http://pleeease.io/","Pleeease")
    +dd("https://github.com/postcss/postcss","PostCSS")
  dl.links-list
    +dt("查找工具")
    +dd("http://csstriggers.com/","CssTriggers")
    +dd("http://screensiz.es/phone", "screensiz.es")
    +dd("http://www.umindex.com/devices/android_resolutions", "友盟指数")
    +dd("http://www.javascripting.com/", "javascripting")
    +dd("http://builtwith.com/", "builtwith")
    +dd("http://thetoolbox.cc/", "thetoolbox", "A collection of the best time-saving apps, tools, and widgets from around the web.")
    +dd("https://stylesheets.co/", "stylesheets")
  dl.links-list
    +dt("版本控制")
    +dd("https://github.com","Github",DD_TYPE.HOT)
    +dd("https://gitcafe.com/", "GitCafe")
    +dd("https://about.gitlab.com/", "GitLab")
    +dd("https://bitbucket.org/", "Bitbucket")
    +dd("https://www.sourcetreeapp.com/","Sourcetree")
    +dd("https://www.zennaware.com/cornerstone/index.php","Cornerstone")
    +dd("http://book.douban.com/subject/4813786/", "版本控制之道")
    +dd("http://iissnan.com/progit/", "ProGit")
    +dd("http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000", "廖雪峰的git教程")
    +dd("http://tortoisesvn.net/index.zh.html", "svn教程")
  dl.links-list
    +dt("编辑器")
    +dd("http://www.sublimetext.com/", "Sublime Text",DD_TYPE.HOT)
    +dd("https://atom.io/", "Atom")
    +dd("http://www.dcloud.io/index.html", "HBuilder")
    +dd("http://www.adobe.com/cn/products/dreamweaver.html", "Dreamweaver")
    +dd("https://www.jetbrains.com/webstorm/","WebStorm", " WebStorm 是jetbrains公司旗下一款JavaScript 开发工具。被广大中国JS开发者誉为“Web前端开发神器”、“最强大的HTML5编辑器”、“最智能的JavaScript IDE”等。与IntelliJ IDEA同源，继承了IntelliJ IDEA强大的JS部分的功能。 ")
    +dd("http://macdown.uranusjr.com/", "MacDown")
    +dd("http://www.ultraedit.com/", 'UltraEdit')
    +dd("https://github.com/ajaxorg/ace","ace" )
    +dd("http://brackets.io/","Brackets" )
    +dd("http://www.lighttable.com/", "LightTable")
    +dd("https://code.visualstudio.com/", "Visual Studio Code")
  dl.links-list
    +dt("在线编辑")
    +dd("http://jsfiddle.net/", "Jsfiddle")
    +dd("http://codepen.io/", "Codepen",DD_TYPE.HOT)
    +dd("http://jsbin.com", "Jsbin")
    +dd("http://runjs.cn/", "Runjs")
    +dd("http://sassmeister.com/", "sassmeister")
    +dd("http://enjoycss.com/", 'enjoycss', '','NEW20160512')
  dl.links-list
    +dt("调试/测试")
    +dd("http://getfirebug.com/", "Firebug")
    +dd("http://developer.yahoo.com/yslow/", "YSlow")
    +dd("http://www.microsoft.com/en-us/download/details.aspx?id=18359", "IEDeveloperToolbar")
    +dd("http://www.fiddler2.com/fiddler2/", "Fiddler")
    +dd("https://developer.chrome.com/devtools", "ChromeDevTools")
    +dd("http://www.jslint.com/", "JSLint")
    +dd("http://www.jshint.com/", "JSHint")
    +dd("http://csslint.net/", "CSSLint")
    +dd("https://validator.whatwg.org/", "HTML Validators")
    +dd("http://unitjs.com/", "UnitJS")
    +dd("http://jasmine.github.io/", "Jasmine")
    +dd("http://www.browserstack.com/", "BrowserStack")
    +dd("https://github.com/airportyh/testem", "Testem", "让写js的单元测试变得有趣")
    +dd("https://github.com/dalekjs", "Dalekjs", "跨浏览器测试js工具" )
    +dd("https://github.com/beatfactor/nightwatch", "NightWatch", "测试框架")
    +dd("https://github.com/thingsinjars/Hardy", "Hardy", "CSS测试")
  dl.links-list
    +dt("部署流程")
    +dd("http://developer.yahoo.com/yui/compressor/", "YUI Compressor")
    +dd("https://github.com/mishoo/UglifyJS", "UglifyJs")
    +dd("https://github.com/GoalSmashers/clean-css", "CleanCss")
    +dd("https://github.com/jsdoc3/jsdoc", "JSDoc")

  dl.links-list
    +dt("高效工具")
    +dd("https://kapeli.com/dash", "Dash", "Dash gives your Mac instant offline access to 150+ API documentation sets.")
    +dd("https://www.wunderlist.com/zh/", "奇妙清单")
    +dd("https://www.omnigroup.com/omnigraffle/", "Omnigraffle")
  dl.links-list
    +dt("其它")
    +dd("http://unbug.github.io/codelf", "CodeIf", "帮你搞定命名问题")
    +dd("https://tonytony.club/tool/h5viewer/index.html", "H5Viewer", "H5预览响应式页面")
    +dd("http://anvilformac.com/", "anvil", "本地搭建轻量级服务器")
    +dd("https://github.com/wagerfield/cssmixins", "cssmixins", " CSS3一些兼容性的mixin：方式是在一些CSS3的属性或值前加浏览器前缀。支持 STYL, SCSS, SASS 和 LESS")
    +dd("https://github.com/typicode/json-server","JSON Server", "分分钟搭一个返回JSON格式REST API的测试服务器")
    +dd("https://ngrok.com/", "ngrok")
    +dd("https://glyphter.com/", "Glyphter", "在线SVG资源")
    +dd("http://www.cssstats.com/", "CSSStats","css规范分析")
    +dd("http://spritegen.website-performance.org/", "spritegen", "在线拼接精灵图片的工具")
    +dd("http://placehold.it/", "placehold.it")
    +dd("http://zh.mweb.im/", "MWeb")
    +dd("http://www.browsersync.io/", "browsersync.io")
    +dd("http://www.kjson.com/", "kjson.com")
    +dd("http://strut.io/editor/index.html", "strut.io", "ppt效果的页面，在线生成工具")
    +dd("https://github.com/hakimel/reveal.js", "Reveal.js", "PPT效果")
    +dd("https://iconverticons.com/online/", "iconverticons.com")
    +dd("http://zhitu.isux.us/", "智图", "腾讯出的在线智能压缩图片工具")
    +dd("http://sandbox.juan-i.com/longshadows/", "longshadows")
    +dd("http://cubic-bezier.com/", "cubic-bezier")
    +dd("http://browserhacks.com/", "browserhacks")
    +dd("http://tool.oschina.net/commons", "tool.oschina.net")
    +dd("https://developers.google.com/speed/pagespeed/insights/", "Pagespeed")
    +dd("https://icomoon.io", "icomoon.io")
    +dd("http://sarasoueidan.com/tools/circulus/", 'circulus')
    +dd("http://mockjs.com/","Mock.js","生成随机数据，拦截 Ajax 请求","NEW20160304")
    +dd("http://colorcop.net/download/", 'colorcop', '取色工具', 'NEW20160512')
    +dd("https://unsplash.it/images", 'unsplash.it', '免费高大上图片', 'NEW20160512')
