.member-list {
  list-style: none;
  border-top: 1px solid #fff;
  padding: 20px;
  margin: 0;
  line-height: 50px;
  color: #BBC7CC;

  .member-item {
    position: relative;
    margin-bottom: 6px;
    &>a {
      color: #70787D;
      text-decoration: none;
      &:hover {
        color: #BBC7CC;
      }
    }
    .member__avatar {
      border-radius: 50%;
      width: 50px;
      margin-right: 8px;
      vertical-align: middle;
    }
    .member__social{
      float: right;
      font-size: 20px;
      &>a {
        color: #70787D;
        padding-left: 1px;
        text-decoration: none;
        &:hover {
          color: #BBC7CC;
        }
      }
    }
  }
}
